.input-block {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .base-input-label {
        padding-bottom: 5px;
        font-weight: 600;
        color: #004146;
    }

    .base-input {
        outline: none;
        border: none;
        padding: 10px;
        background-color: #fff;
        border-radius: 24px;
        border: 1px solid transparent;

        &::placeholder {
            color: #DCE0E6;
        }

        &.padding {
            
            &::placeholder {
                padding-left: 20px;
            }
        }

        &:focus {
            border: 1px solid #DCE0E6;
        }
    }

    .input-container {
        
        .base-input-placeholder-block {
            position: absolute;

            .base-input-placeholder {
                display: flex;
                align-items: center;
                position: relative;
                padding-top: 8px;
                padding-left: 10px;
                color: #DCE0E6;
                font-size: 13.5px;

                .base-input-placeholder-icon {
                    padding-right: 5px;
                    font-size: 20px;
                }
            }
        }
    }
}