.base-currency-input-block {
    display: flex;
    flex-direction: column;

    .base-currency-input {
        -webkit-appearance: none;
        outline: none;
        padding: 10px;
        background-color: #fff;
        border-radius: 24px;
        border: 1px solid transparent;
    
        &:focus {
            border: 1px solid #DCE0E6;
        }
    }

    .base-currency-input-values-container {
        margin-top: 80px;
        position: absolute;
        background-color: #fff;
        border-radius: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        max-height: 160px;
        min-width: 160px;
        max-width: 320px;
        animation: showValuesContainer .3s;
        box-shadow: -1px 0px 8px 0px rgba(34, 60, 80, 0.2);

        @keyframes showValuesContainer {
            from {
                opacity: 0;
            } to {
                opacity: 1;
            }
        }

        .base-currency-input-value-block {
            border-bottom: 1px solid #DCE0E6;
            padding: 10px 0px;

            .base-currency-input-value {
                color: #004146;
                font-weight: 600;
            }
        }
    }
}

