.input-block {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .base-input-label {
        font-size: 15px;
        padding-bottom: 5px;
        font-weight: 600;
        color: #004146;
    }

    .base-input {
        display: flex;
        outline: none;
        width: 100%;
        border: none;
        padding: 7px;
        background-color: #fff;
        border-radius: 24px;
        border: 1px solid transparent;
        color: #004146;
        font-weight: bold;
        font-size: 14px;

        &.padding {
            padding-left: 30px;
        }

        &::placeholder {
            color: #DCE0E6;
        }

        &:focus {
            border: 1px solid #DCE0E6;
        }
    }

    .input-container {
        display: flex;

        .base-input-placeholder-block {
            position: absolute;

            .base-input-placeholder {
                display: flex;
                align-items: center;
                position: relative;
                padding-top: 10.5px;
                padding-left: 10px;
                color: #DCE0E6;
                font-size: 13.5px;

                .base-input-placeholder-icon {
                    padding-right: 5px;
                    font-size: 20px;
                }
            }
        }

        .base-input-placeholder-icon {
            position: absolute;
            font-size: 18px;
            padding-top: 8px;
            padding-left: 8px;
            color: #DCE0E6;

            &.right {
                padding-right: 6px;
            }
        }
    }
}