.navbar-search-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex: 0 1 400px;
    justify-content: center;

    .navbar-search-label-block {
        display: flex;
        position: relative;
        top: 20px;
        z-index: 1;

        .navbar-search-label {
            display: flex;
            align-items: center;
            color: #B1B5C1;

            &.icon {
                padding-right: 10px;
                font-size: 24px;
            }
        }
    }

    .navbar-search {
        outline: none;
        color: #B1B5C1;
        z-index: 2;
        border: none;
        padding: 10px 10px 10px 0px;
        font-size: 16px;
        background-color: transparent;
    }
}