.primary-button-block {
    color: #fff;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #DCE0E6;
    border-radius: 26px;
    display: flex;
    align-items: center;
    max-width: fit-content;
    font-weight: bold;
    background-color: #3EBBF1;
    transition: all .3s;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        transition: all .3s;
    }

    .primary-button-icon {
        padding-left: 15px;
    }
}