.base-select {
    -webkit-appearance: none;
    outline: none;
    padding: 10px;
    background-color: #fff;
    border-radius: 24px;
    border: 1px solid transparent;

    &::placeholder {
        color: #DCE0E6;
    }

    &.padding {
        
        &::placeholder {
            padding-left: 20px;
        }
    }

    &:focus {
        border: 1px solid #DCE0E6;
    }
}