.main-layout {
    width: 100%;
    height: 100%;
}

.sidebar-container {
    flex: 0 0 200px;
    height: 100%;
}

.page-content {
    position: relative;
    overflow: auto;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    background-color: #fff;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

