.sidebar {
    background-color: #004146;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 200px;
    height: 100%;

    .sidebar-content {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding-right: 10px;
    }
}
