.sidebar-route {
    display: flex;
    height: 56px;
    align-items: center;
    cursor: pointer;

    .sidebar-route-active-border {
        display: none;
    }

    &.active {
        background-color: rgba(239, 248, 255, 0.15);

        .sidebar-route-icon-block {
            background-color: rgba(248, 250, 250, 0.15);
        }
    }

    &:hover {
        background-color: rgba(239, 248, 255, 0.15);
        transition: 0.2s;
        border-left: 4px solid #fff;
    }

    .sidebar-route-icon-block {
        padding: 12px;
        margin-right: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: transparent;

        .sidebar-route-icon {
            color: #fff;
            font-size: 19.5px;
        }
    }

    .sidebar-route-name-block {
        .sidebar-route-name {
            color: #fff;
            font-size: 14.5px;
        }
    }

    .sidebar-route-collapsed-block {
        display: flex;
        width: 100%;
        justify-content: flex-end;

        .sidebar-route-collapsed-icon {
            color: #fff;
        }
    }
}
