@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('./assets/fonts/Gilroy-Regular.woff2') format('woff2'),
        url('./assets/fonts/Gilroy-Regular.woff') format('woff'),
        url('./assets/fonts/Gilroy-Regular.ttf') format('truetype');
}

body {
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Gilroy', sans-serif;
    background-color: #004146;
    line-height: 18px;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

p {
    padding: 0;
    margin: 0;
}

#root {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 3px;
}
    
::-webkit-scrollbar-track {
    background: #004146;
}

::-webkit-scrollbar-thumb {
    background: #028d99;
}

::-webkit-scrollbar-thumb:hover {
    background: #00747d;
}
